@import "tailwindcss";

@keyframes flipInAir {
  0% {
    transform: translateY(0) rotateY(0deg);
  }
  30% {
    transform: translateY(-150px) rotateY(1800deg);
  }
  100% {
    transform: translateY(0) rotateY(3600deg);
  }
}

.animate-flip {
  animation: flipInAir 2s ease-in-out forwards;
  transform-style: preserve-3d;
}


